# .NET
api/bin/
api/obj/
api/appsettings.Development.json
api.Tests/bin/
api.Tests/obj/
api.Tests/TestResults/

# Android
mobile/.gradle/
mobile/.idea/
mobile/local.properties
mobile/*.iml
mobile/build/
mobile/app/build/
mobile/.cxx/

# General
.DS_Store
*.log